---
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
const { banner, image } = Astro.props;
const { title, button, content } = banner;

import banner_shape from "../../assets/images/banner-shape.png"
---

<section class="section banner relative">
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-6">
        <h1 class="banner-title w-full text-3xl sm:text-5xl md:text-5xl lg:text-5xl xl:text-6xl" set:html={markdownify(title)} />

        <p class="mt-6" set:html={markdownify(content)} />

        {
          button.enable && (
            <a class="btn btn-white mt-8 max-lg:mb-8" href={button.link}>
              {button.label}
            </a>
          )
        }
      </div>
      <div class="lg:col-6">
        <Image
          class="w-full object-contain"
          alt="banner"
          src={image}
          width={603}
          height={396}
          style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 25px;"
        />
      </div>
    </div>
  </div>

  <Image
    class="banner-shape absolute -top-28 right-0 -z-[1] w-full max-w-[30%]"
    alt="banner"
    src={banner_shape}
    width={496}
    height={466}
  />
</section>
