---
import HomepageTab from "@/layouts/function-components/HomepageTab";
import VideoComponent from "@/layouts/function-components/VideoComponent";
import { AiFillCheckCircle } from "react-icons/ai";
import { Image } from "astro:assets";
const { service } = Astro.props;
const { homepage_tab, our_service } = service;

import shape2 from "../../assets/images/shape-2.png";

const imageImports = import.meta.glob('/src/assets/images/**/*.{jpg,jpeg,png,webp,JPG,JPEG}');

// Dynamically import images from the src directory
const serviceWithImages = await Promise.all(
  our_service.map(async (service) => {
    let imageImport = null;
    
    if (service.image) {
      const imagePath = `/src/assets/images/${service.image}`;
      console.log('lol');
      
      if (imageImports[imagePath]) {
        // Dynamically load the image using the path
        imageImport = (await imageImports[imagePath]()).default;
      }
    }
    
    return {
      ...service,
      image: imageImport
    };
  })
);
---

<section class="section services">
  <div class="container">
    <HomepageTab client:load homepage_tab={homepage_tab} />
    {
      serviceWithImages.map((item, index) => (
        <div class="gx-5 row mt-12 items-center lg:mt-0">
          <div class={`lg:col-7 ${index % 2 === 0 ? "order-0" : "order-1"}`}>
            {item.image && (
              <div class="relative">
                <Image
                class="w-fit md:w-11/12 object-contain m-6 mx-auto"
                  alt="service"
                  src={item.image}
                  width={800}
                  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 25px;"
                />
                <Image
                  class="absolute bottom-6 left-1/2 -z-[1] -translate-x-1/2"
                  src={shape2}
                  alt=""
                  height={147}
                  width={151}
                />
              </div>
            )}
          </div>
          <div
            class={`mt-6 lg:col-5 lg:mt-0 ${
              index % 2 === 0 ? "order-1" : "order-0"
            }`}
          >
            <div class="text-container">
              <h2 class="lg:text-4xl">{item.title}</h2>
              <p class="mt-4">{item.description}</p>
              {item.button && item.button.enable && (
                <a class="btn btn-white mt-6" href={item.button.link}>
                  {item.button.label}
                </a>
              )}
              {item.list &&
                <ul class="mt-6 text-dark lg:-ml-4">
                  item.list.map((list: any) => (
                    <li class="mb-2 flex items-center rounded px-4">
                      <AiFillCheckCircle className="mr-3 fill-primary text-white" />
                      {list}
                    </li>
                  ))
                </ul>
              }
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
