---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";
import { IoMailOutline, IoLogoInstagram } from "react-icons/io5";
import { markdownify } from "@/lib/utils/textConverter";

const entry = await getEntryBySlug("contact", "index");
const { contact_form_action } = config.params;
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container"><PageHeader page_data={page_data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="w-9/12 mx-auto mb-10 text-center">
        <p class="text-lg" set:html={markdownify(contact.description)} />
        <p class="mt-4" set:html={markdownify(contact.faq_notice)} />
      </div>
      <div class="shadow-lg rounded-lg p-6 md:p-10 max-w-lg w-full mx-auto">
        <h1 class="text-xl md:text-xl font-semibold text-center mb-6">{contact.channels.title}</h1>
        <div class="space-y-4">
          {contact.channels.channel_list.map((channel, index) => (
            <a
              key={index}
              href={channel.link}
              class="flex items-center btn btn-outline-primary text-3xl"
              target="_blank"
              rel="noopener noreferrer"
            >
              { channel.icon === "email" && <IoMailOutline /> }
              { channel.icon === "instagram" && <IoLogoInstagram /> }
              <span class="text-lg font-medium ml-4">{channel.name}</span>
            </a>
          ))}
        </div>
      </div>
    </div>
  </section>
</Base>
